@charset "utf-8";

.b_myfont {
    color: #6B5EC8;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: medium;
    text-align: left;
    text-decoration: none;
}

.practicefont {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    width: 75px;
    height: 84px;
    border-width: 15px;
    border-color: #B7383A;
    background-color: #BC8586;
    color: #E8D4D5;
    font-size: small;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 9px;
}
